
.b2{margin-left:350%;}
.b3{margin-top:2%;padding-bottom:0%;border:1px solid transparent;color:white;}
.b4{background-color:orange;}
.b5{margin-left:60%;}
.b6{margin-left:62%;}
.b7{margin-left:71.7%;}
.b8{margin-left:45.8%;}
.b9{margin-left:65.5%;}
.b10{margin-left:54.5%;}
.b12{border-bottom:1px solid #dcdcdc;}
.b13{border:1px solid #dcdcdc;}
.b14{color:#b1b1b1;}
.b15{background-color:#f7f7f7;}
.b16{color:#ffb507;}
.b17{color:#ffb507;margin-left:80%;}
.b18{border:1px solid #dcdcdc;}
.b19{border:1px solid black;}
.b20{color:#9aa2ad;}
.b21{border-bottom:1px solid black;float:left;}
.fname2{width:270%;background:#f6f6f6;margin-right:0%;color:white;}