
.ye{background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/kiran1.jpg);
background-size:100%;
height:520px;width:100%;
background-repeat:no-repeat;
}

.yo{
	padding-left:20%;
	padding-top:4%;
}

.yu{
	margin-left:22%;
	margin-top:11%;
}

.kii{
	font-size:450%;
}

