.style1{
background-image:url(../images/iphone_6_plus_white_port.png);background-size:31.5%;padding-bottom:30%;background-repeat:no-repeat;}
.style2{background-color:white;padding-bottom:-10%;margin-bottom:0%;}
.style3{
background-color:#fdbf0a;background-size:100%;width:95%;padding-bottom:5%;background-repeat:no-repeat;margin-top:-20%;}

.style5{margin-left:33%;float:left;}
.style6{margin-right:3%;margin-top:-6.3%;float:right;}

.style7{background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/bg-cta.jpg);background-size:100%;background-repeat:no-repeat;margin-top:-20%;padding-bottom:20%;}
.style8{color:white;margin-left:20%;margin-top:0%;}
.style9{-webkit-border-radius:70px;margin-left:20%;border:2px solid white;margin-top:2%;}
.style10{
background-color:#fec947;background-size:100%;width:100%;padding-bottom:5%;background-repeat:no-repeat;margin-top:0%;}
.style11{margin-left:43%;}
.style12{background-color:#222222;color:white;font-size:20px;}