.r1
{
background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/blog-banner-bg.jpg);
background-size:cover;

background-position:center;
}
.r2
{
background:linear-gradient(to left,transparent,#433c4e);
background-size:cover;margin-bottom:13%;
}
.r3{border-bottom:1px solid white;}.r31111{border-bottom:1px solid black;}
.r4{margin-left:10%;}
.r5{margin-left:27%;}
.r6{margin-left:10%;}
.r7{color:#5bc7f6;}
.r8{color:#5bc7f6;}
.r9{color:#5bc7f6;}
.r10{background-color:#f7f7f7;}
.r11{margin-top:2%;}
.r12{color:#8a888b;margin-top:5%;}
.r13{color:#8a888b;}
.r14{background-color:#ffb607;margin-left:7%;color:white;border:1px solid #ffb607;}
.r15{margin-top:2.5%;}
.r16{color:#8a888b;margin-top:5%;}
.r17{color:#c5c5c7;}
.r18{color:RED;}

.r20{color:#8a888b;margin-top:5%;}
.r21{color:#8a888b;margin-top:5%;}
.r22{color:#8a888b;margin-top:5%;}
.r23{color:#8a888b;margin-top:5%;}
.r24{margin-top:2.5%;}
.r25{color:#c5c5c7;}
.r26{color:RED;}
.r27{color:#8a888b;}
.r28{color:#8a888b;margin-top:5%;}
.r29{color:#8a888b;margin-top:5%;}
.r30{color:#8a888b;margin-top:5%;}
.r31{color:#8a888b;margin-top:5%;}
.r32{margin-top:2.5%;}
.r33{color:#c5c5c7;}
.r34{color:RED;}
.r35{color:#dcdcdc;}
.r36{color:orange;}
.r37{color:#b99889;}
.r38{border-bottom:1px solid #a67026;}
.r39{margin-left:42%;}
.r40{margin-left:42%;color:white;}
.r41{margin-top:-25%;}
.r42{font-family:Century Gothic; }
.r43{margin-left:10%;}
.r44{margin-top:-25%;}
.r45{font-family:Century Gothic;}
.r46{border:1px solid black;}
.r47{border:1px solid black;}
.r48{border:1px solid black;}
.r49{border:1px solid black;}
.r50{border:1px solid black;}
.r51{border:1px solid black}
.r52{margin-left:10%;}
.r53{margin-top:-25%;}
.r54{font-family:Century Gothic; }
.r55{background-color:#2f2f2f;}
.r56{background-color:#dfdfdf;}
.r57{background-color:#ffb607;}
.r58{background-color:#676767;}
.r59{text-align:center;color:white;}
.r60{text-align:center;color:black;}
.r61{text-align:center;color:white}
.r62{text-align:center;color:white;}
.r63{text-align:center;color:white;}
.r64{background-color:#2f2f2f;margin-left:-22px;}
.r65{text-align:center;color:white;}
.r66{color:#898788;text-align:center;}
.r67{background-color:#dfdfdf;}
.r68{text-align:center;color:black;}
.r69{color:#8a8889;text-align:center;}
.r70{background-color:#46779f;}
.r71{text-align:center;color:white;}
.r72{background-color:#2f2f2f;}
.r73{text-align:center;color:white;}
.r74{color:#7d633e;text-align:center;}
.r75{margin-top:2%;margin-left:-2%;}
.r76{color:#898788;text-align:center;}
.r77{color:#8a8889;text-align:center;}
.r78{color:#ab4d19;text-align:center;}
.r79{color:#7d633e;text-align:center;}
.r80{color:#dddfde;text-align:center;}
.r81{color:white;text-align:center;}
.r82{margin-top:-25%;}
.r83{font-family:Century Gothic;}
.r84{border-bottom:1px solid #dcdcdc;}
.r85{color:orange;}
.r86{border:1px solid #dcdcdc;}
.r87{background-color:black;text-align:center;}
.r88{border-bottom:1px solid black;}
.r89{margin-top:5%;}
.r90{color:#ffb609;}
.r91{color:white;}
.r92{margin-top:-25%}
.r93{font-family:Century Gothic;}
.r94{margin-left:40%;margin-top:5%;margin-bottom:5%;}
.r95{color:black;}
.r96{border-bottom:1px solid black;}
.r97{border-bottom:1px solid black; float:right;}
.r98{color:black;margin-left:50%;margin-top:0%;}
.r99{color:black;}
.r100{color:#ffb607;font-size:15px}
.r101{color:black;}
.r102{background-color:#ffb607;color:white;border:1px solid #ffb607;}
.r103{background-color:#ffb607;padding-bottom:3.5%;width:20%;margin-left:65%;margin-top:0%;padding-top:2%;}
.r104{color:white;padding-top:-15%;text-align:center;}
.r105{border:1px solid white;}
.r106{border:1px solid white;}
.r107{border:1px solid white;}
.r108{border:1px solid white;}
.r109{width:80%;border:1px solid black;margin-top:12%;margin-left:-9%;background-color:black;}

